@page
@model WebApp.Pages.TestReports.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div class="form-group form-inline">
                <div class="form-group mb-2">
                    <label class="control-label">Search</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input name="searchString" class="form-control" />
                    <button class="btn btn-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].KeyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].GradeReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].GradeFinalizationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].Batch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestList[0].TestCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.TestList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeFinalizationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Batch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestCategory.Category)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
    }
    </tbody>
</table>
@{
    var prevDisabled = !Model.TestList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.TestList.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.TestList.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">Previous</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.TestList.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">Next</a>